{% extends 'base.html.twig' %}

{% block body %}
This is a list of ideas

<ul>
{% for idea in ideas %}
    <li><a href="{{ path('idea_view', {'id': idea.id}) }}">{{ idea.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}